body {
    font-family: monospace;
    font-size: 8pt;
}

table{
    border-collapse: collapse;
}

caption {
    text-align: left;
}

th{
    color: gray;
}

th, td{
    border: 1px gray dashed;
    padding: 1px 3px;
}

tr:hover {
    background-color: antiquewhite;
}

.value_area {
    background-color: #b0ffee;
}

.control_point {
     background-color: #00d4b4;
}